/* // CSS for buttons */
.btncss {
    border: none;
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
  }
  
  .btncss:hover {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
  }